@page {
    size: A4 landscape;
}

.sidebar {
    display: none;
}

.navbar {
    display: none;
}

.illustration img {
    height: 100px;
    width: 100px;
}

.view-detail-content span {
    font-weight: bold;
    font-size: 20px;
}

.client-list #btn {
    display: none;
}

.page {
    display: none;
}

.view-detail-content {
    page-break-inside: avoid;
}